<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FileLoggingPath" value="D:\BinanceLogging\OrdersNotExecutedHistory\BinanceDCAOrders_{timestamp}.txt"/>
		<add key="FileLoggingPathNotSuccessOrders" value="D:\BinanceLogging\BinanceNotSuccessOrders_{timestamp}.txt"/>
		<add key="BinanceRequestOrdersLimit" value="140"/>
	</appSettings>
	<connectionStrings>
		<add name="BinanceDbContext" connectionString="Server=DESKTOP-QI7TCIK;Initial Catalog=BinanceDb;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>