<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="binanceApiKey" value="JQ5mnAulqyC93wWCIMmSx7EfPaAfwL4hm0nTHQe1ekXbfyVKyzI4ytjn6fe8LD1Q" />
		<add key="biancneAPISecret" value="hPWEy19sQgoHk8iZdY1TiPo0eEZRyDf08Z365wmSfY7OqCBUZuEp02NXrM36Ueki" />
		<add key="FileLoggingPath" value="D:\BinanceLogging\OrdersNotExecutedHistory\BinanceDCAOrders_{timestamp}.txt"/>
		<add key="FileLoggingPathNotSuccessOrders" value="D:\BinanceLogging\BinanceNotSuccessOrders_{timestamp}.txt"/>
	</appSettings>
</configuration>