@{
    ViewBag.Title = "Contact Us";
}

<div id="main">


    <!-- Breads -->
    <div class="breadcrumbs_holder_empty"></div>
    <div class="main-body">
        <h1>Contact Us</h1>
        <h3>CONTACT INFO:</h3>
        <div class="icon_text">
            <h5 style="color:#555555">Phone:</h5>
            <!-- <p><a href="tel:+8 (800) 659-2684">+92-310-4474349</a></p>
        <p><a href="tel:+8 (800) 659-2684">+92-302-4344565</a></p>-->
            <p><a href="tel:+8 (800) 659-2684">+92-3454231525</a></p>
        </div>

        <div class="icon_text">
            <h5 style="color:#555555">Skype:</h5>
            <p><a href="skype:Johndoeteacher?chat">WorldRecordHolderAcademy</a></p>
        </div>
        <div class="icon_text">
            <h5 style="color:#555555">Email:</h5>
            <p><a href="mailto:ilghafoor@hotmail.com">ilghafoor@hotmail.com</a></p>
        </div>
        <div class="icon_text">
            <h5 style="color:#555555">Address:</h5>
            <p>
                Abdul Ghafoor
                H#169,block E,jubilee town Lahore
            </p>
        </div>



    </div>

</div>

