@{
    ViewBag.Title = "Our Consultants";
}

<div class="main-body">
    <h1 style="">Our Consultants</h1>
    <p>Solution has been prepared under the supervision of highly qualified professors like:</p>
    <ul class="professors-list">
        <li>Abdul Majeed Ex Head of Mathematics Dept. <span>PU</span> Lahore</li>
        <li>Barbara Professor of Mathematics Cambridge University <span>UK</span></li>
        <li>Usman Durrani Professor of Pure Mathematics <span>RMT AUS</span></li>
    </ul>

</div>
