@{
    ViewBag.Title = "Services & Benefits";
}

<div id="main">
    <!-- Breads -->
    <div class="main-body">

        <h1>OUR SERVICES:</h1>
        <p>We are providing quality of education to the students.</p>
        <p>Main features of our services are following:</p>
        <ul>
            <li>Easily understand able solution to the student.</li>
            <li>Step by step explanation of each question</li>
            <li>Reasonable fee from the students</li>
            <li>Free consultancy to the students</li>
        </ul>
        <h2>Your Benefits:</h2>
        <ul>
            <li>Quality of education at reasonable fee</li>
            <li>Save your time</li>
            <li>Save your money</li>
            <li>Study at your own pace</li>
        </ul>
    </div>
</div>
