@model MVCSlider.Models.Login

@*@{ 
    Layout = null;
}*@




<div style="float:left; display:block;">
    <img src="~/Images/AdminPanel.png" alt="" />
</div>

<div style="display:block; margin-bottom:100px;">
    <h2>Admin Dashboard - Password Reset  </h2>
</div>
<hr />

<h3>Password Reset</h3>

<div style="display:block; margin-top:20px;" class="form-group">




    <form id="frmSubjects" action="PasswordReset" method="post" enctype="multipart/form-data">



        <div>
            Enter New Password <span class="validate">*</span>
        </div>
        <div>
            <input type="password" name="Password" class="form-control" style="width:180px;" maxlength="50" />
        </div>

        <div>
            &nbsp;
        </div>
        <div style="float:left; padding-right:5px;">
            <input type="submit" value="Save" id="btnSave" class="btn btn-primary" />
        </div>
        <div>
            <input type="button" value="Back" class="btn btn-primary" onclick="location.href='@Url.Action("Index","Admin")'" />
        </div>

    </form>

</div>
